#!tag "bs.load:process/cleanup"

{% include 'bs/header.jinja' %}
data remove storage bs.load: _
data remove storage bs.load: modules
data remove storage bs.load: errors
data remove storage bs.load: bundle
data remove storage bs.load: status
